.container {
  display: flex;
  width: 100%;
  gap: 0; 
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 100%;
  gap: 0;
}

.button {
  appearance: none;
  border: none;
  border-radius: 0;
  padding: 12px 8px; 
  font-size: 14px;
  font-weight: 700;
  color: #fff; 
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  
  background-color: #C19084;
  box-shadow: inset 0px -5px 0px 0px #9C7C74;
  opacity: 1; 
}

.active {
  background-color: #9C7C74;
  box-shadow: none;
}
