.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  /* height: 96px; */
  background: #CA8C7D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
}

.box {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  transition: background 0.2s;
  color: #fff;
  text-decoration: none;
}

.box:hover {
  background: #aaa;
}
