/* フォーム要素も body のフォントを継承させる */
button,
input,
select,
textarea {
  font: inherit;
  /* font-size/line-height/font-family を一括継承 */
}

/* app/globals.css */

/* UAスタイルの余白を消す */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  /* 全ページ共通の左右ガター */
  --gutter: 16px;
  /* 配色 */
  --color--brown: #89574B;
  --color--rightbrown: #D18B00;
  --color--pinkbrown: #CA8C7D;
  --color--darkpinkbrown: #B17E72;
  --color--cocoabrown: #9C7C74;
  --color--white: #FFFFFF;
  --color--font--black: #50342E;
  --color--button--main: #F6BF6E;
  --color--button--shadow: #E4A344;
  --color--buttongrey--main: #CCCCCC;
  --color--buttongrey--shadow: #9A9797;
  --color--badge--main: #FFDC5E;
  --color--badge--shadow: #E7B811;


}

.siteShell {
  min-height: 100dvh;
}


/* iOS のくぼみ対策（必要なら） */
@supports (padding: max(0px)) {
  .siteContent {
    padding-left: max(var(--gutter), env(safe-area-inset-left));
    padding-right: max(var(--gutter), env(safe-area-inset-right));
    padding-top: max(var(--gutter), env(safe-area-inset-top));
    padding-bottom: max(var(--gutter), env(safe-area-inset-bottom));
  }

  .siteShell--bleed .siteContent {
    padding: 0;
  }
}