.footer {
  position: fixed;
  bottom: 16;
  left: 0;
  width: 100%;
  padding: 16px;
  height: 60px;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
}

.box {
  width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 8px;
  transition: background 0.2s;
}

.box:hover {
  background: #aaa;
}
